<h2>Quotes of Donald Trump</h2>

 <%= button_to "JSON API", { :action => "json" }, :method => :get %>
 <%= button_to "REST API", { :action => "rest" }, :method => :get %>
 <%= button_to "GRAPHQL", { :action => "graphql" }, :method => :get %>

</p>